<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BigDataCourse</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BigDataCourse.styles.css" asp-append-version="true" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/TemplateNews/assets/css/style.css">
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BigDataCourse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BigDataCourse - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@


    <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <div class="container">
    <div class="box_wrapper">
      <header id="header">
        <div class="header_top">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav custom_nav">
                  <li><a href="/">Trang chủ</a></li>
                  <li><a href="/Recommend">Yêu thích</a></li>
                  <li><a href="#">Liên hệ</a></li>
                  @if(Context.Session.GetString("_user") != null)
                  {
                                        <li><a href="/User/Logout">Đăng xuất</a></li>
                  }
                  else{
                                        <li><a href="/User/Login">Đăng nhập</a></li>
                  }
                  <!-- <li><a href="pages/404.html">404 Page</a></li> -->
                </ul>
              </div>
            </div>
          </nav>
          <div class="header_search">
            <button id="searchIcon"><i class="fa fa-search"></i></button>
            <div id="shide">
              <div id="search-hide">
                     @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { }))
            {
                                    <input name="keyword" type="text" value="@ViewBag.keyword" size="40" placeholder="Nhập tên bài viết ...">
                                    <button class="btn-search" title="Tìm" type="submit"><i class="fa fa-search"></i></button>
            }
                <button class="remove"><span><i class="fa fa-times"></i></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="header_bottom">
          <div class="logo_area"><a class="logo" href="#"><b>B</b>igData Course<span>Công nghệ dữ liệu 17</span></a>
          </div>
          @*<div class="top_addarea"><a href="#"><img src="~/TemplateNews/images/addbanner_728x90_V1.jpg" alt=""></a></div>*@
        </div>
      </header>
            @RenderBody()
      <footer id="footer">
        <div class="footer_top">
          <div class="col-lg-7 col-md-7 col-sm-7">
            <div class="single_footer_top wow fadeInLeft">
              <h2>Về chúng tôi</h2>
                            <p>Địa chỉ: 236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</p>
                            <p>Điện thoại: 069.515200</p>
                            <p>Email: info@mta.edu.vn</p>
                            <h2>Follow By Email</h2>
                            <div class="subscribe_area">
                                <!-- <p>"Subscribe here to get our newsletter, it is safe just Put your Email and click subscribe"</p> -->
                                <form action="#">
                                    <div class="subscribe_mail">
                                        <input class="form-control" type="email" placeholder="Địa chỉ email">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <input class="submit_btn" type="submit" value="Gửi">
                                </form>
                            </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="single_footer_top wow fadeInRight">
              <h2>Liên hệ</h2>
              <form action="#" class="contact_form">
                <label>Họ tên</label>
                <input class="form-control" type="text">
                <label>Email*</label>
                <input class="form-control" type="email">
                <label>Lời nhắn*</label>
                <textarea class="form-control" cols="30" rows="10"></textarea>
                <input class="send_btn" type="submit" value="Gửi">
              </form>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="footer_bottom_left">
            <p>Copyright &copy; 2022</p>
          </div>
          <div class="footer_bottom_right">
            <ul>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Twitter" href="#"><i
                    class="fa fa-twitter"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Facebook" href="#"><i
                    class="fa fa-facebook"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Googel+" href="#"><i
                    class="fa fa-google-plus"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Youtube" href="#"><i
                    class="fa fa-youtube"></i></a></li>
              <li><a class="tootlip" data-toggle="tooltip" data-placement="top" title="Rss" href="#"><i
                    class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/TemplateNews/assets/js/jquery.min.js"></script>
    <script src="~/TemplateNews/assets/js/wow.min.js"></script>
    <script src="~/TemplateNews/assets/js/bootstrap.min.js"></script>
    <script src="~/TemplateNews/assets/js/slick.min.js"></script>
    <script src="~/TemplateNews/assets/js/jquery.li-scroller.1.0.js"></script>
    <script src="~/TemplateNews/assets/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
